/bin/Debug/net8.0/ArtReferenceAPI.deps.json
/bin/Debug/net8.0/ArtReferenceAPI.dll
/bin/Debug/net8.0/ArtReferenceAPI.exe
/bin/Debug/net8.0/ArtReferenceAPI.pdb
/bin/Debug/net8.0/ArtReferenceAPI.runtimeconfig.json
/bin/Debug/net8.0/ArtReferenceAPI.staticwebassets.endpoints.json
/bin/Debug/net8.0/Microsoft.AspNetCore.OpenAPI.dll
/bin/Debug/net8.0/Microsoft.OpenAPI.dll
/bin/Debug/net8.0/Swashbuckle.AspNetCore.Swagger.dll
/bin/Debug/net8.0/Swashbuckle.AspNetCore.SwaggerGen.dll
/bin/Debug/net8.0/Swashbuckle.AspNetCore.SwaggerUI.dll
/bin/Debug/net8.0/appsettings.Development.json
/bin/Debug/net8.0/appsettings.json
/obj/ArtReferenceAPI.csproj.nuget.dgspec.json
/obj/ArtReferenceAPI.csproj.nuget.g.props
/obj/ArtReferenceAPI.csproj.nuget.g.targets
/obj/Debug/net8.0/.NETCoreApp,Version=v8.0.AssemblyAttributes.cs
/obj/Debug/net8.0/APIEndpoints.json
/obj/Debug/net8.0/ArtRefer.AF8103E4.Up2Date
/obj/Debug/net8.0/ArtReferenceAPI.AssemblyInfo.cs
/obj/Debug/net8.0/ArtReferenceAPI.AssemblyInfoInputs.cache
/obj/Debug/net8.0/ArtReferenceAPI.GeneratedMSBuildEditorConfig.editorconfig
/obj/Debug/net8.0/ArtReferenceAPI.GlobalUsings.g.cs
/obj/Debug/net8.0/ArtReferenceAPI.MvcApplicationPartsAssemblyInfo.cache
/obj/Debug/net8.0/ArtReferenceAPI.MvcApplicationPartsAssemblyInfo.cs
/obj/Debug/net8.0/ArtReferenceAPI.assets.cache
/obj/Debug/net8.0/ArtReferenceAPI.csproj.AssemblyReference.cache
/obj/Debug/net8.0/ArtReferenceAPI.csproj.BuildWithSkipAnalyzers
/obj/Debug/net8.0/ArtReferenceAPI.csproj.CoreCompileInputs.cache
/obj/Debug/net8.0/ArtReferenceAPI.csproj.FileListAbsolute.txt
/obj/Debug/net8.0/ArtReferenceAPI.dll
/obj/Debug/net8.0/ArtReferenceAPI.genruntimeconfig.cache
/obj/Debug/net8.0/ArtReferenceAPI.pdb
/obj/Debug/net8.0/ArtReferenceAPI.sourcelink.json
/obj/Debug/net8.0/EndpointInfo/ArtReferenceAPI.OpenAPIFiles.cache
/obj/Debug/net8.0/EndpointInfo/ArtReferenceAPI.json
/obj/Debug/net8.0/apphost.exe
/obj/Debug/net8.0/rbcswa.dswa.cache.json
/obj/Debug/net8.0/ref/ArtReferenceAPI.dll
/obj/Debug/net8.0/refint/ArtReferenceAPI.dll
/obj/Debug/net8.0/rjsmcshtml.dswa.cache.json
/obj/Debug/net8.0/rjsmrazor.dswa.cache.json
/obj/Debug/net8.0/rpswa.dswa.cache.json
/obj/Debug/net8.0/staticwebassets.build.endpoints.json
/obj/Debug/net8.0/staticwebassets.build.json
/obj/Debug/net8.0/staticwebassets.build.json.cache
/obj/Debug/net8.0/staticwebassets.references.upToDateCheck.txt
/obj/Debug/net8.0/staticwebassets.removed.txt
/obj/project.assets.json
/obj/project.nuget.cache
obj/Debug/net8.0/ArtRefer.9884DC84.Up2Date
/.vs
